.avatar img:not(.cropImage) {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    border-radius: inherit;
    width: 95%;
    height: 95%;
}

.avatar {
    border-radius: 4px;
    vertical-align: top;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 100%;
}

.memberHeader-avatar .avatar {
    border-radius: 4px;
}

.avatarWrapper {
    display: inline-block;
    /* position: relative; */
}

.memberHeader-avatar {
    position: absolute;
    padding: 15px;
    top: -5px;
}

.memberHeader-mainContent {
    height: 140px;
    position: relative;
}

@keyframes steam {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    100% {
        background-position: 0 0
    }
}

.avatar-border-profile-4 img {
    z-index: 10;
}

.memberHeader--withBanner .memberHeader-main {
    min-height: 250px;
}

.memberProfileBanner {
    background-size: cover !important;
    background-position-x: center !important;
    background-repeat: no-repeat !important;
}

.memberHeader-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #f3f4f5;
    border-bottom: 0 solid #e0e0e0;
}

.memberHeader:before,
.memberHeader:after {
    content: " ";
    display: table;
}

.memberHeader:after {
    clear: both;
}

.memberHeader-content {
    padding: 10px;
    padding-left: 222px;
}

.memberHeader-actionTop {
    float: right;
}

.memberHeader--withBanner .memberHeader-name {
    color: white;
}

.memberHeader-name {
    margin: 0;
    margin-top: -.15em;
    padding: 0;
    font-weight: 400;
    font-size: 2.2rem;
    color: #141618;
}

.memberHeader--withBanner .username {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.username--style3 {
    text-shadow: 0px 2px 7px #f00;
    font-weight: bold;
    background: url(/images/effect-1.gif);
    color: #ff0000 !important;
}

.avatar-border-profile-4:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1098340/71f42ec23a7f80c365f0c3900a6e61bdc78733d7.png);
    /* background: linear-gradient(45deg, #ff0d91, #f70087, #ff0d91, #fff, #e400ff, #fb00b9, #bd005e, #fff, #e3007e, #fff); */
    /* background-size: 400%; */
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* animation: steam 20s linear infinite; */
}

.avatar-border-profile-3 img {
    z-index: 10;
}

.avatar-border-profile-2:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/2695270/c16abf6541ec6aeb1e29b385a0963d759a73f439.png);
    /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00); */
    /* background-size: 400%; */
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* z-index: 9; */
}

.avatar-border-profile-3:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/322330/46461aaea39b18a4a3da2e6d3cf253006f2d6193.png);
    /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00); */
    /* background-size: 400%; */
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* z-index: 9; */
}

.username--style4 {
    color: #ff0d91;
    font-weight: bold;
    text-shadow: 0px 1px 7px #bb00b5;
    background: url(/images/effect-1.gif);
}

.memberHeader--withBanner .username {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

[dir=auto] {
    text-align: left;
}

.memberHeader-banners,
.memberHeader-blurb {
    margin-top: 4px;
}

.userBanner.userBanner--mod {
    color: #fff;
    background: #ff0d91;
    border-color: #ff50e9;
    border-radius: 4px;
    box-shadow: 0px 2px 7px #d900dd;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}

.userBanner {
    font-size: 75%;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    padding: 1px 10px;
    padding: 1px 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.userBanner.userBanner--green {
    color: #fff;
    background: #008000;
    border-color: #004d00;
    border-radius: 4px;
}

.userBanner {
    font-size: 75%;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    padding: 1px 10px;
    padding: 1px 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.memberHeader-stats {
    font-size: 1.5rem;
}

.memberHeader-stats .pairJustifier {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.pairJustifier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -5px;
    margin-bottom: -5px;
}

.pairJustifier .pairs.pairs--rows {
    margin-right: 5px;
    margin-bottom: 5px;
}

.pairs.pairs--rows {
    display: inline-table;
    margin-right: 10px;
}

.fauxBlockLink {
    position: relative;
}

.pairs {
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 1.7;
}

.pairs.pairs--rows.pairs--rows--centered>dt,
.pairs.pairs--rows.pairs--rows--centered>dd {
    text-align: center;
}

.pairs.pairs--rows>dt {
    display: table-row;
    font-size: 55%;
    font-weight: 500;
}

.pairs.pairs--rows>dd {
    display: table-row;
}

.pairs>dd {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.memberHeader-separator {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.pairs.pairs--inline {
    display: inline;
}

.pairs.pairs--columns>dt,
.pairs.pairs--columns>dd {
    font-size: 16px;
    display: table-cell;
}

.pairs.pairs--columns.pairs--fixedSmall>dt {
    width: 200px;
}

.pairs {
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 1.7;
}

.pairs>dt {
    padding: 0;
    margin: 0;
    color: #76818d;
}

.fauxBlockLink a,
.fauxBlockLink .fauxBlockLink-link {
    position: relative;
    z-index: 2;
}

.pairs.pairs--inline>dt,
.pairs.pairs--inline>dd {
    font-size: 18px;
    font-weight: 450;
    display: inline;
}

.afEmail {
    display: inline-block;
}

.uix_memberHeader__extra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

.uix_memberHeader__extra .memberHeader-blurb {
    margin: 0;
}

.block-container {
    color: #141618;
    background: #fff;
    border-width: 0;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.uix_memberHeader__extra .memberHeader-buttons {
    margin-left: auto;
}

.buttonGroup {
    display: inline-block;
    vertical-align: top;
}

.button.button--link,
button.button a.button.button--link {
    background: #fff;
    border: 1px solid #e0e0e0;
    text-transform: initial;
}

.button.button--link:hover,
button.button a.button.button--link:hover,
.button.button--link:focus,
button.button a.button.button--link:focus {
    text-decoration: none;
    background: rgba(33, 150, 243, 0.2);
}

.userBanner.userBanner--admin {
    color: #fff;
    background: #ff0000;
    border-color: #ff0000;
    border-radius: 4px;
    box-shadow: 0px 2px 7px #d80000;
    font-weight: bold;
    margin: 5px 5px 5px 0px;
}

.userBanner.userBanner--mod {
    color: #fff;
    background: #ff0d91;
    border-color: #ff50e9;
    border-radius: 4px;
    box-shadow: 0px 2px 7px #d900dd;
    font-weight: bold;
    margin: 5px 5px 5px 0px;
}

.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb:last-child {
    padding-bottom: 10px;
}

.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb:first-child {
    margin-top: 0;
    padding-top: 10px;
}

.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb {
    padding-left: 10px;
    padding-right: 10px;
}

.memberHeader--withBanner .memberHeader-blurbContainer {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    text-shadow: 0 0 1px #000;
    margin-top: 8px;
}

/* duoi header */
.block-tabHeader.block-tabHeader--memberTabs {
    border-bottom: none;
}

.hScroller {
    overflow-y: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

.tabs {
    display: flex;
}

.block-tabHeader {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    color: #76818d;
    background: transparent;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 600;
    font-size: 0;
}

.hScroller-scroll.is-calculated {
    overflow-x: scroll;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.hScroller-scroll {
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    overflow-x: hidden;
}

.block-tabHeader .tabs-tab {
    padding: 15px 15px;
    border-bottom: 2px solid transparent;
    background-color: #8BC34A;
}

.block-tabHeader .tabs-tab,
.block-tabHeader .tabs-text,
.block-tabHeader .tabs-extra,
.block-tabHeader .hScroller-action {
    background-color: #8BC34A;
    color: white;
    font-size: 16px;
    border: 1px solid white;
}

.rippleButton {
    position: relative;
}

.tabs-tab {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.block-tabHeader .tabs-tab:not(.is-readonly):hover {
    color: #8BC34A;
    background-color: white;
    border: 1px solid #8BC34A;
}

.block-tabHeader .tabs-tab.is-active,
.block-tabHeader .tabs>input:checked+.tabs-tab--radio {
    background-color: white;
    color: #8BC34A;
    border: 1px solid #8BC34A;
}

/* duoi tab */
.tabPanes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabPanes>li.is-active {
    display: block;
}

.tabPanes>li {
    display: none;
}

.block-row {
    margin: 0;
    padding: 15px 15px;
}

.pairs.pairs--columns {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.pairs {
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 1.7;
}

.block-row.block-row--separated {
    padding-bottom: 15px;
    padding-top: 15px;
}

.block-row:before,
.block-row:after {
    content: " ";
    display: table;
}

.block-row:after {
    clear: both;
}

.block-textHeader {
    margin: 7.5px 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    color: #141618;
    font-weight: 600;
}

.block-row.block-row--separated+.block-row {
    border-top: 1px solid #e0e0e0;
}

.block-textHeader:first-child {
    margin-top: 0;
}

.listHeap {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listHeap>li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 4px;
}

.avatar.avatar--s {
    width: 48px;
    height: 48px;
    font-size: 29px;
}

.avatar.avatar--default.avatar--default--dynamic,
.avatar.avatar--default.avatar--default--text {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonGroup>.button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.buttonGroup>.button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttonGroup>.button:not(:first-child) {
    border-left: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background: rgba(33, 150, 243, 0.2);
    border-color: #e0e0e0 !important;
}

.profile_animated_background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
}