.sider
  .inner-menu
    ul 
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`${prefixAdmin}/products`) Sản phẩm
      li
        a(href=`${prefixAdmin}/settings/general`) Cài đặt chung